:root {
    --bg-color: #1a0a05;
    --text-color: #f2c1c1;
    --accent-color: #ac360b;
}

body {
    font-family: 'Courier New', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10; 
    padding: 0rem 1rem; 
  }

.tab {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab:hover, .tab.active {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.aboutme {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 25%;
}

.aboutmepic {
    flex: 1;
}
.aboutmepic img {
    width: 100%;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 1s ease;
}

.aboutmepic img.fade-in {
    opacity: 1;
}
.aboutmecontent {
    flex: 2;
}


.circuit-item {
    background-color: rgba(255, 69, 0, 0.1);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.circuit-item::before, .circuit-item::after {
    content: '';
    position: absolute;
    background-color: var(--accent-color);
}

.circuit-item::before {
    width: 1px;
    height: 50%;
    top: 25%;
    left: 0;
}

.circuit-item::after {
    width: 50%;
    height: 1px;
    top: 0;
    left: 25%;
}

.spark {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #820cf1;
    border-radius: 50%;
    pointer-events: none;
    animation: spark 1s linear forwards;
}
@keyframes spark {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
.projectscontainer {
    padding-bottom: 25%;
}
.projects {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}

.project-tab {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.project-tab-button {
    background-color: transparent;
    border: none; 
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.project-tab-button.active {
    background-color:transparent;
    text-decoration: underline;
}
.details-img {
    display: flex;
  }
  
.project-image-container { 
    display: flex; 
    flex-direction: row; 
    gap: 1rem;
    height: 360px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0.8;
}

.project-image-container img:hover {
    transform: scale(1.2);
    opacity: 1;
}
.project-image-container img {
    width: auto; 
    height: 350px; 
    border-radius: 20px;
}
  
.project-details {
    flex: 1; /* Details take up remaining space */
    background-color: rgba(255, 69, 0, 0.1);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
  }
.contact-item {
    background-color: rgba(255, 69, 0, 0.1);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between; 
    align-items: start;
    flex-wrap: wrap;
}

.contact-item form, .contact-item div {
    margin: 10px; 
}


.contact-item form {
    flex-basis: 40%; 
}
form input, form textarea {
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color); 
    padding: 8px;
    color: var(--text-color);
}

form textarea {
    width: 100%; 
    height: 150px;
    resize: none; 
}
form button {
    background-color: var(--bg-color);
    color: var(--accent-color);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
form p{
    color: var(--text-color);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: none;
}
.social-link a {
    color: inherit; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
  }

  .social-link a i {
    margin-right: 10px; 
}
footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1re;
}
/*for game page*/
.content {
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.input, .bulb {
    flex-grow: 1; 
}
.input {
    justify-content: space-between;

}
.bulb img {
    flex-grow: 1;
    width: 50px;
    height: 50px;
}
.gates {
    flex-grow: 2; 
}
.gates img {
    width: 100%;
    height: 100%;
}
.content button{
    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 4px solid var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
}
.projects button{
    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.midbtn{
    margin:1.6rem 0rem;
    visibility: hidden;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamehead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
a {
    color: var(--accent-color);
    text-decoration: none;
}
/* Updated media query for smaller screens */
@media (max-width: 768px) {
    .container {
      padding: 1rem;
    }
  
    h1 {
      font-size: 1rem;
    }
  
    nav {
      flex-wrap: wrap; 
    }
  
    .tab {
      margin-bottom: 0.5rem;
    }
  
    .aboutme {
      flex-direction: column; 
      align-items: flex-start; 
      padding: 2rem;
      margin-top: 6rem;
    }
  
    .aboutmepic,
    .aboutmecontent {
      flex: 100%; 
      margin-bottom: 1rem;
    }
    
    .game h2{
        font-size: 1rem; 
        margin-bottom: 2rem;
    }
    .content{
        width: 100%;
    }
    .project-details h2{
        font-size: 1rem;
    }
}